@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
:root {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em; }

code,
.CodeRay {
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em; }

h1 {
  font-size: 300%;
  font-weight: 700;
  line-height: 5rem;
  margin-left: -.5em;
  padding-left: .5em;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  color: #ee7733;
  letter-spacing: .01em;
  background-color: #f9fbff; }

h2 {
  color: #e09800; }

h3 {
  color: #b27900; }

h4 {
  color: #7a5300; }

b {
  font-weight: 600; }

a {
  font-weight: 400;
  color: #01797e; }
  a:visited {
    color: #01797e; }
  a.external-link::after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=); }
  a.broken-link {
    text-decoration: line-through; }

code,
.CodeRay {
  background-color: #f9fbff;
  border: 1px solid #e6e6e6; }

span.CodeRay,
code {
  white-space: pre;
  color: #003377;
  border-radius: .2rem;
  padding: 1px 4px; }

.CodeRay,
pre > code {
  display: block;
  border-radius: .3rem;
  padding: 10px; }

ul.spine {
  display: none; }
  ul.spine.spine-has-current {
    display: block; }
  ul.spine > li.spine-item.spine-item-current > ul.spine {
    display: block; }

html {
  margin: 0; }

body {
  margin: 0 2rem 3rem 0; }

#body {
  margin: 0 auto;
  position: relative;
  padding-top: 7.5rem;
  padding-left: 17rem; }
  #body::before {
    display: block;
    content: ' ';
    position: absolute;
    left: 2.5rem;
    top: 1rem;
    width: 11em;
    height: 11em;
    background-image: url("/pipeline/css/logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1; }

#nav-sitemap {
  position: absolute;
  left: 13.5rem;
  top: 13.5rem;
  width: 50rem;
  /* > ul.spine */ }
  #nav-sitemap > ul.spine {
    position: absolute;
    top: -10rem;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
    #nav-sitemap > ul.spine ul {
      list-style-type: none;
      padding-left: 0; }
    #nav-sitemap > ul.spine a {
      text-decoration: none;
      font-weight: 300;
      color: inherit; }
      #nav-sitemap > ul.spine a:visited {
        color: inherit; }
    #nav-sitemap > ul.spine > li {
      display: block;
      margin: .9375rem;
      float: left; }
      #nav-sitemap > ul.spine > li > a, #nav-sitemap > ul.spine > li > span {
        display: block;
        padding: .625rem;
        padding-bottom: .4375rem;
        border-radius: .5rem;
        font-size: 110%;
        font-weight: 600;
        text-transform: uppercase; }
        #nav-sitemap > ul.spine > li > a:hover, #nav-sitemap > ul.spine > li > span:hover {
          background-color: #e5ebff; }
      #nav-sitemap > ul.spine > li > a:active, #nav-sitemap > ul.spine > li.spine-item-current > span, #nav-sitemap > ul.spine > li.spine-item-has-current > a, #nav-sitemap > ul.spine > li.spine-item-has-current > span {
        background-color: #416DF2;
        color: white; }
      #nav-sitemap > ul.spine > li > a[href="http://www.daisy.org"] {
        width: 68.25px;
        height: 71.5px;
        padding: 0;
        margin: 0 .5em;
        color: transparent;
        background-image: url("/pipeline/css/daisy_uppercase_shadow.png");
        background-size: 100% 200%;
        background-repeat: no-repeat;
        position: relative;
        top: -1em; }
        #nav-sitemap > ul.spine > li > a[href="http://www.daisy.org"]:hover {
          background-position-y: -71.5px;
          background-color: initial; }
        #nav-sitemap > ul.spine > li > a[href="http://www.daisy.org"]::after {
          content: none; }
      #nav-sitemap > ul.spine > li.spine-item-current > ul,
      #nav-sitemap > ul.spine > li > ul.spine-has-current {
        position: absolute;
        left: -12.8rem;
        top: 10.4rem;
        width: 13rem;
        margin-right: .5rem;
        padding-right: .625rem;
        padding-top: 0.625rem; }
        #nav-sitemap > ul.spine > li.spine-item-current > ul li ul,
        #nav-sitemap > ul.spine > li > ul.spine-has-current li ul {
          margin-left: .31rem; }
        #nav-sitemap > ul.spine > li.spine-item-current > ul li > a, #nav-sitemap > ul.spine > li.spine-item-current > ul li > span,
        #nav-sitemap > ul.spine > li > ul.spine-has-current li > a,
        #nav-sitemap > ul.spine > li > ul.spine-has-current li > span {
          display: block;
          width: 100%;
          padding-top: .625rem;
          padding-bottom: .625rem;
          padding-left: .625rem;
          padding-right: .625rem;
          background-color: #f9fbff;
          border-left: .07rem solid #cccccc; }
          #nav-sitemap > ul.spine > li.spine-item-current > ul li > a:hover, #nav-sitemap > ul.spine > li.spine-item-current > ul li > span:hover,
          #nav-sitemap > ul.spine > li > ul.spine-has-current li > a:hover,
          #nav-sitemap > ul.spine > li > ul.spine-has-current li > span:hover {
            background-color: #e5ebff; }
        #nav-sitemap > ul.spine > li.spine-item-current > ul li > a:active, #nav-sitemap > ul.spine > li.spine-item-current > ul li.spine-item-current > span,
        #nav-sitemap > ul.spine > li > ul.spine-has-current li > a:active,
        #nav-sitemap > ul.spine > li > ul.spine-has-current li.spine-item-current > span {
          background-color: #416DF2;
          color: white;
          border-left: none;
          padding-left: 0.725rem; }
        #nav-sitemap > ul.spine > li.spine-item-current > ul li.spine-item-current > ul,
        #nav-sitemap > ul.spine > li > ul.spine-has-current li.spine-item-current > ul {
          margin-left: 0;
          border-left: 0.38rem solid #416DF2; }
          #nav-sitemap > ul.spine > li.spine-item-current > ul li.spine-item-current > ul li > a, #nav-sitemap > ul.spine > li.spine-item-current > ul li.spine-item-current > ul li > span,
          #nav-sitemap > ul.spine > li > ul.spine-has-current li.spine-item-current > ul li > a,
          #nav-sitemap > ul.spine > li > ul.spine-has-current li.spine-item-current > ul li > span {
            border-left: none; }
  #nav-sitemap.fixed > ul.spine > li.spine-item-current > ul,
  #nav-sitemap.fixed > ul.spine > li > ul.spine-has-current {
    position: fixed;
    top: 0.4rem;
    left: 0.7rem; }

/* #nav-sitemap */
.edit-button {
  position: absolute;
  right: 10px;
  top: 10.625rem;
  font-size: 80%; }

.synopsis-inputs,
.synopsis-outputs,
.synopsis-reports,
.synopsis-options {
  list-style-type: none;
  padding-left: 1rem;
  margin: 0; }

.synopsis-input,
.synopsis-output,
.synopsis-report,
.synopsis-option {
  position: relative;
  margin: .5rem 0 .3rem 1rem;
  padding: .5rem 1rem 0 1rem;
  border-top: 1px solid #FFCE65;
  border-left: 1px solid #FFCE65;
  border-radius: .2rem; }
  .synopsis-input.details-off:hover,
  .synopsis-output.details-off:hover,
  .synopsis-report.details-off:hover,
  .synopsis-option.details-off:hover {
    background-color: #fff9ec;
    cursor: pointer; }
  .synopsis-input.details-off .synopsis-input-desc .longdesc,
  .synopsis-input.details-off .synopsis-input-media-type,
  .synopsis-input.details-off .synopsis-input-sequence,
  .synopsis-input.details-off .synopsis-output-desc .longdesc,
  .synopsis-input.details-off .synopsis-output-media-type,
  .synopsis-input.details-off .synopsis-report-desc .longdesc,
  .synopsis-input.details-off .synopsis-option-desc .longdesc,
  .synopsis-input.details-off .synopsis-option-data-type,
  .synopsis-input.details-off .synopsis-option-default,
  .synopsis-input.details-off .synopsis-option-required,
  .synopsis-output.details-off .synopsis-input-desc .longdesc,
  .synopsis-output.details-off .synopsis-input-media-type,
  .synopsis-output.details-off .synopsis-input-sequence,
  .synopsis-output.details-off .synopsis-output-desc .longdesc,
  .synopsis-output.details-off .synopsis-output-media-type,
  .synopsis-output.details-off .synopsis-report-desc .longdesc,
  .synopsis-output.details-off .synopsis-option-desc .longdesc,
  .synopsis-output.details-off .synopsis-option-data-type,
  .synopsis-output.details-off .synopsis-option-default,
  .synopsis-output.details-off .synopsis-option-required,
  .synopsis-report.details-off .synopsis-input-desc .longdesc,
  .synopsis-report.details-off .synopsis-input-media-type,
  .synopsis-report.details-off .synopsis-input-sequence,
  .synopsis-report.details-off .synopsis-output-desc .longdesc,
  .synopsis-report.details-off .synopsis-output-media-type,
  .synopsis-report.details-off .synopsis-report-desc .longdesc,
  .synopsis-report.details-off .synopsis-option-desc .longdesc,
  .synopsis-report.details-off .synopsis-option-data-type,
  .synopsis-report.details-off .synopsis-option-default,
  .synopsis-report.details-off .synopsis-option-required,
  .synopsis-option.details-off .synopsis-input-desc .longdesc,
  .synopsis-option.details-off .synopsis-input-media-type,
  .synopsis-option.details-off .synopsis-input-sequence,
  .synopsis-option.details-off .synopsis-output-desc .longdesc,
  .synopsis-option.details-off .synopsis-output-media-type,
  .synopsis-option.details-off .synopsis-report-desc .longdesc,
  .synopsis-option.details-off .synopsis-option-desc .longdesc,
  .synopsis-option.details-off .synopsis-option-data-type,
  .synopsis-option.details-off .synopsis-option-default,
  .synopsis-option.details-off .synopsis-option-required {
    display: none; }
  .synopsis-input.details-on,
  .synopsis-output.details-on,
  .synopsis-report.details-on,
  .synopsis-option.details-on {
    background-color: #ffefce;
    border-right: 1px solid #FFCE65;
    border-bottom: 1px solid #FFCE65; }
    .synopsis-input.details-on .synopsis-input-desc .shortdesc,
    .synopsis-input.details-on .synopsis-output-desc .shortdesc,
    .synopsis-input.details-on .synopsis-report-desc .shortdesc,
    .synopsis-input.details-on .synopsis-option-desc .shortdesc,
    .synopsis-output.details-on .synopsis-input-desc .shortdesc,
    .synopsis-output.details-on .synopsis-output-desc .shortdesc,
    .synopsis-output.details-on .synopsis-report-desc .shortdesc,
    .synopsis-output.details-on .synopsis-option-desc .shortdesc,
    .synopsis-report.details-on .synopsis-input-desc .shortdesc,
    .synopsis-report.details-on .synopsis-output-desc .shortdesc,
    .synopsis-report.details-on .synopsis-report-desc .shortdesc,
    .synopsis-report.details-on .synopsis-option-desc .shortdesc,
    .synopsis-option.details-on .synopsis-input-desc .shortdesc,
    .synopsis-option.details-on .synopsis-output-desc .shortdesc,
    .synopsis-option.details-on .synopsis-report-desc .shortdesc,
    .synopsis-option.details-on .synopsis-option-desc .shortdesc {
      display: none; }
  .synopsis-input p > code:only-child,
  .synopsis-output p > code:only-child,
  .synopsis-report p > code:only-child,
  .synopsis-option p > code:only-child {
    white-space: pre; }
  .synopsis-input .synopsis-input-name,
  .synopsis-input .synopsis-input-desc,
  .synopsis-input .synopsis-input-media-type,
  .synopsis-input .synopsis-input-sequence,
  .synopsis-input .synopsis-output-name,
  .synopsis-input .synopsis-output-desc,
  .synopsis-input .synopsis-output-media-type,
  .synopsis-input .synopsis-report-name,
  .synopsis-input .synopsis-report-desc,
  .synopsis-input .synopsis-option-name,
  .synopsis-input .synopsis-option-desc,
  .synopsis-input .synopsis-option-data-type,
  .synopsis-input .synopsis-option-default,
  .synopsis-input .synopsis-option-required,
  .synopsis-output .synopsis-input-name,
  .synopsis-output .synopsis-input-desc,
  .synopsis-output .synopsis-input-media-type,
  .synopsis-output .synopsis-input-sequence,
  .synopsis-output .synopsis-output-name,
  .synopsis-output .synopsis-output-desc,
  .synopsis-output .synopsis-output-media-type,
  .synopsis-output .synopsis-report-name,
  .synopsis-output .synopsis-report-desc,
  .synopsis-output .synopsis-option-name,
  .synopsis-output .synopsis-option-desc,
  .synopsis-output .synopsis-option-data-type,
  .synopsis-output .synopsis-option-default,
  .synopsis-output .synopsis-option-required,
  .synopsis-report .synopsis-input-name,
  .synopsis-report .synopsis-input-desc,
  .synopsis-report .synopsis-input-media-type,
  .synopsis-report .synopsis-input-sequence,
  .synopsis-report .synopsis-output-name,
  .synopsis-report .synopsis-output-desc,
  .synopsis-report .synopsis-output-media-type,
  .synopsis-report .synopsis-report-name,
  .synopsis-report .synopsis-report-desc,
  .synopsis-report .synopsis-option-name,
  .synopsis-report .synopsis-option-desc,
  .synopsis-report .synopsis-option-data-type,
  .synopsis-report .synopsis-option-default,
  .synopsis-report .synopsis-option-required,
  .synopsis-option .synopsis-input-name,
  .synopsis-option .synopsis-input-desc,
  .synopsis-option .synopsis-input-media-type,
  .synopsis-option .synopsis-input-sequence,
  .synopsis-option .synopsis-output-name,
  .synopsis-option .synopsis-output-desc,
  .synopsis-option .synopsis-output-media-type,
  .synopsis-option .synopsis-report-name,
  .synopsis-option .synopsis-report-desc,
  .synopsis-option .synopsis-option-name,
  .synopsis-option .synopsis-option-desc,
  .synopsis-option .synopsis-option-data-type,
  .synopsis-option .synopsis-option-default,
  .synopsis-option .synopsis-option-required {
    padding-bottom: .5em; }
  .synopsis-input .synopsis-input-name,
  .synopsis-input .synopsis-report-name,
  .synopsis-input .synopsis-output-name,
  .synopsis-input .synopsis-option-name,
  .synopsis-output .synopsis-input-name,
  .synopsis-output .synopsis-report-name,
  .synopsis-output .synopsis-output-name,
  .synopsis-output .synopsis-option-name,
  .synopsis-report .synopsis-input-name,
  .synopsis-report .synopsis-report-name,
  .synopsis-report .synopsis-output-name,
  .synopsis-report .synopsis-option-name,
  .synopsis-option .synopsis-input-name,
  .synopsis-option .synopsis-report-name,
  .synopsis-option .synopsis-output-name,
  .synopsis-option .synopsis-option-name {
    font-size: 110%;
    font-weight: 800;
    color: #473000; }
  .synopsis-input ul.media-types,
  .synopsis-output ul.media-types,
  .synopsis-report ul.media-types,
  .synopsis-option ul.media-types {
    display: inline;
    padding-left: 0; }
    .synopsis-input ul.media-types li,
    .synopsis-output ul.media-types li,
    .synopsis-report ul.media-types li,
    .synopsis-option ul.media-types li {
      display: inline; }
      .synopsis-input ul.media-types li::after,
      .synopsis-output ul.media-types li::after,
      .synopsis-report ul.media-types li::after,
      .synopsis-option ul.media-types li::after {
        content: ", "; }
      .synopsis-input ul.media-types li:last-child::after,
      .synopsis-output ul.media-types li:last-child::after,
      .synopsis-report ul.media-types li:last-child::after,
      .synopsis-option ul.media-types li:last-child::after {
        content: ""; }
