h1 {
  border-bottom: 1px solid grey; }

nav {
  border-bottom: 1px solid grey; }

ul.spine {
  display: none; }
  ul.spine.spine-has-current {
    display: block; }
  ul.spine > li.spine-item.spine-item-current > ul.spine {
    display: block; }
