h1 {
  border-bottom: 1px solid grey; }

nav {
  border-bottom: 1px solid grey; }

ul.spine {
  display: none; }
  ul.spine.spine-has-current {
    display: block; }
  ul.spine > li.spine-item.spine-item-current > ul.spine {
    display: block; }

a.external-link::after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=); }

a.broken-link {
  text-decoration: line-through; }
