table {
  border-collapse: collapse; }

tr:nth-child(2n) {
  background-color: #f6f8fa; }

td {
  padding: 14px 0 0 14px;
  border: 1px solid #c6cbd1; }
  td:nth-child(2) {
    width: 40%;
    padding: 0 0 0 0; }
  td p:first-child {
    margin-top: 0; }
  td img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    padding-top: 14px;
    padding-bottom: 14px; }

img {
  max-width: 100%; }
