Package: daisy-pipeline2-mod-sbs
Version: [[version]]
Section: text
Priority: optional
Architecture: all
Depends: daisy-pipeline2 (>= 1.9.1)
Maintainer: Bert Frees <bertfrees@gmail.com>
Description: DAISY Pipeline 2 braille module for SBS
