build\
*.log
*.vcxproj.*
src/main/resources/x64/*
!src/main/resources/x64/sapinative.dll
!src/main/resources/x64/onecorenative.dll
src/main/resources/x86/*
!src/main/resources/x86/sapinative.dll
!src/main/resources/x86/onecorenative.dll
build/