$hyphenation: true !default;
$line-spacing: single !default;
$capital-letters: true !default;
$include-captions: true !default;
$include-images: true !default;
$include-line-groups: true !default;
$include-production-notes: false !default;

@import "page-layout.scss";
@import "generate-toc.scss";
@import "page-breaking.scss";
@import "volume-breaking.scss";
@import "notes.scss";

@if $hyphenation {
	:root {
		hyphens: auto;
	}
}

@if $line-spacing == double {
	:root {
		line-height: 2;
	}
}

@if $capital-letters != true {
	:root {
		text-transform: lowercase;
	}
}

caption {
	display: if($include-captions, block, none);
}

@if $include-images {
	img::after {
		content: attr(alt);
	}
}

linegroup line {
	display: if($include-line-groups, block, inline);
}

prodnote {
	display: if($include-production-notes, block, none);
}
