/*
 * Default style sheet for DTBook
 *
 * See also
 * - http://www.cucat.org/projects/dtbook2005-3/dtbook-2005-3.dtd.html
 * - http://www.daisy.org/z3986/2005/dtbook.2005.basic.css
 */

@namespace xml "http://www.w3.org/XML/1998/namespace";

address,
annotation,
author,
blockquote,
bodymatter,
book,
bridgehead,
byline,
covertitle,
dateline,
div,
dl,
docauthor,
doctitle,
epigraph,
frontmatter,
h1,
h2,
h3,
h4,
h5,
h6,
hd,
img,
imggroup,
level,
level1,
level2,
level3,
level4,
level5,
level6,
line,
linegroup,
list,
note,
p,
poem,
prodnote,
rearmatter,
sidebar,
table {
	display: block;
}

li {
	display: list-item;
}

list {
	counter-reset: list-item;
}

list[type="ol"],
list[type="ol"][enum="1"] { list-style-type: decimal;     }
list[type="ol"][enum="a"] { list-style-type: lower-alpha; }
list[type="ol"][enum="U"] { list-style-type: upper-alpha; }
list[type="ol"][enum="i"] { list-style-type: lower-roman; }
list[type="ol"][enum="X"] { list-style-type: upper-roman; }

/* handle list[start] */
@xslt "lists.xsl";

head {
	display: none;
}

br::before {
	content: "\A";
	white-space: pre-line;
}

[xml|space=preserve] {
	white-space: pre-wrap;
}

@text-transform uncontracted {
	system: braille;
	contraction: no;
}

/* ======= Implementation of script options =============== */

/**
 * @var $hyphenation
 *
 * @brief Hyphenation
 *
 * Hyphenation policy.
 *
 * The following CSS rule is included by default (where `$hyphenation` is the value of this option):
 *
 * ~~~sass
 * :root {
 *   hyphens: $hyphenation;
 * }
 * ~~~
 *
 * This means that words are hyphenated according to the specified policy, except where overridden by
 * more specific CSS rules. See the CSS specification for more info:
 *
 * - the [`hyphens`](http://braillespecs.github.io/braille-css/#the-hyphens-property) property
 * 
 * In addition, special rules may apply at page boundaries, see the "Hyphenation at page boundaries"
 * option.
 *
 * <px:type xmlns:px="http://www.daisy.org/ns/pipeline/xproc">
 *     <choice xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
 *         <value>auto</value>
 *         <a:documentation xml:lang="en">Hyphenate words</a:documentation>
 *         <value>manual</value>
 *         <a:documentation xml:lang="en">Only hyphenate words where there are soft hyphens (U+00AD)</a:documentation>
 *         <value>none</value>
 *         <a:documentation xml:lang="en">Never hyphenate words</a:documentation>
 *     </choice>
 * </px:type>
 */
$hyphenation: auto !default;

@if $hyphenation != manual {
	:root {
		hyphens: $hyphenation;
	}
}

/**
 * @var $line-spacing
 *
 * @brief Line spacing
 *
 * Single or double line spacing.
 *
 * The following CSS rule is included by default (where `$line-spacing` is the value of this option):
 *
 * ~~~sass
 * @if $line-spacing == double {
 *   :root {
 *     line-height: 2;
 *   }
 * }
 * ~~~
 *
 * See the CSS specification for more info:
 *
 * - the [`line-height`](http://braillespecs.github.io/braille-css/#h3_the-line-height-property)
 *   property
 *
 * <px:type xmlns:px="http://www.daisy.org/ns/pipeline/xproc">
 *     <choice>
 *         <value>single</value>
 *         <documentation xml:lang="en">Single</documentation>
 *         <value>double</value>
 *         <documentation xml:lang="en">Double</documentation>
 *     </choice>
 * </px:type>
 */
$line-spacing: single !default;

@if $line-spacing == double {
	:root {
		line-height: 2;
	}
}

@import "_volume-breaking.scss";
@import "_notes.scss";
