$notes-placement: end-of-volume !default;

noteref::alternate {
	display: block;
	content: target-content(attr(href));
}

// notes that are not referenced are not rendered
note {
	display: none;
}

/*
 * - Generate a div element to contain all the notes and to attach a title.
 */
@xslt "notes.xsl" {
	endnotes-section-id: "endnotes-section";
}

#endnotes-section {
	display: -obfl-list-of-references;
	flow: endnotes-container;
	&::after {
		content: -obfl-collection(endnotes);
	}
}

@if $notes-placement == bottom-of-page {
	noteref::alternate {
		flow: footnotes;
	}
	@page {
		@footnotes {
			content: flow(footnotes);
            -obfl-fallback-collection: endnotes;
		}
	}

} @else {
	noteref::alternate {
		flow: endnotes;
	}
}

@if $notes-placement == end-of-book {
	@volume:last {
		@end {
			content: flow(endnotes-container);
		}
	}
} @else {
	#endnotes-section {
		-obfl-list-of-references-range: volume;
	}
	@volume {
		@end {
			content: flow(endnotes-container);
		}
	}
}
