/*
 * Page layout: dimensions, numbering, headers and footers.
 */

$levels-in-footer: 0 !default;
$show-braille-page-numbers: true !default;
$show-print-page-numbers: true !default;

@if $show-print-page-numbers {
	pagenum {
		string-set: print-page content();
	}
}

@for $level from 1 through 6 {
	@if $levels-in-footer >= $level {
		h#{$level} {
			string-set: footer content();
		}
	}
}
