.DS_Store
.build.mk
.classpath
.project
.last-tested
.settings
/*.deb
/*.rpm
/*.zip
/.effective-pom.xml
/.gradle-settings/
/.gradle/
/.maven-build.mk
/.maven-cache/
/.maven-modules
/.maven-workspace/
/maven.log
