.DS_Store
.last-tested
/*.deb
/*.rpm
/*.zip
/.gradle/
/.maven-cache/
/.maven-workspace/
/maven.log
/settings.xml
# eclipse
bin/
.classpath
.project
.settings/
/eclimd.log
/.metadata/
/.recommenders/
# for build remainders on subrepo branches
target/
/build/
/node-modules/
*.iml
.idea