.DS_Store
.classpath
.deps.mk
.effective-pom.xml
.project
.last-tested
.settings
/*.deb
/*.rpm
/*.zip
/.gradle-pom.xml
/.gradle-settings/
/.gradle/
/.maven-cache/
/.maven-modules
/.maven-workspace/
/maven.log
