language: java
jdk: oraclejdk8
after_success:
- ./upload.sh
- ./publish-javadoc.sh
before_install:
- '[ "$TRAVIS_PULL_REQUEST" == "false" ] && openssl aes-256-cbc -K $encrypted_395561562480_key -iv $encrypted_395561562480_iv -in secring.gpg.enc -out secring.gpg -d || echo "no decryption for pull requests"'
