# Maven
target/

# Make
/.modules

# xspec
xspec/*html

# Eclipse
.classpath
.project
.settings/
.externalToolBuilders
maven-eclipse.xml

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
