/*
 * This style sheet simply puts "display:block" on all elements that are in section or
 * block layer according to the book profile. The style sheet is constructed in such a
 * way that it is easy to extend. The rules defined here can be reset with
 * http://www.daisy.org/pipeline/modules/braille/zedai-to-pef/reset.css
 *
 * FIXME: Some elements exist in both block and phrase/text layer. Elements that are in
 * phrase/text layer should be matched by different rules. The elements are the following:
 * - address
 * - annotation
 * - citation
 * - code
 * - description
 * - note
 * - object
 * - pagebreak
 * - quote
 *
 * See also
 * - http://www.daisy.org/z3998/2012/auth/cm
 * - http://www.daisy.org/z3998/2012/auth/profiles/book/1.0/resources/z3998-book-single.rng
 */

@namespace xml "http://www.w3.org/XML/1998/namespace";

   document,
/*
 * document > *
 */
              body,
/*
 * body > *
 */
          backmatter,
          bodymatter,
          cover,
          frontmatter,
/*
 * cover > *
 */
           backcover,
           flaps,
           frontcover,
           spine,
/*
 * aside       > *,
 * backmatter  > *,
 * bodymatter  > *,
 * frontmatter > *,
 * section     > *
 */
                 section,
/*
 * backmatter  > *,
 * frontmatter > *,
 * section     > *
 */
                 bibliography,
/*
 * backmatter  > *,
 * frontmatter > *,
 * section     > *
 */
                 glossary,
/*
 * backmatter  > *
 */
                 index,
/*
 * toc aside   > *,
 * backmatter  > *,
 * frontmatter > *,
 * section     > *
 */
                 toc,
/*
 * bibliography         > *,
 * bibliography section > *
 */
   bibliography           section,
/*
 * bibliography         > *,
 * bibliography section > *
 */
   bibliography           entry,
/*
 * glossary         > *,
 * glossary section > *
 */
   glossary           section,
/*
 * glossary         > *,
 * glossary section > *
 */
   glossary           entry,
/*
 * index         > *,
 * index section > *
 */
   index           section,
/*
 * index         > *,
 * index section > *,
 * index entry   > *
 */
   index           entry,
/*
 * toc         > *,
 * toc section > *
 */
   toc           aside,
   toc           section,
/*
 * toc         > *,
 * toc section > *,
 * toc entry   > *
 */
   toc           entry,
/*
 * toc entry > *
 */
   toc entry > block,
/*
 *              aside        > *,
 *              bibliography > *,
 *              glossary     > *,
 *              index        > *,
 *              toc          > *,
 *              section      > *,
 * bibliography section      > *,
 * glossary     section      > *,
 * index        section      > *,
 * toc          section      > *,
 * verse        section      > *,
 *              verse        > *
 */
                               h,
/*
 *              annotation  > *,
 *              aside       > *,
 * toc          aside       > *,
 *              backcover   > *,
 *              block       > *,
 *              caption     > *,
 *              description > *,
 * bibliography entry       > *,
 * glossary     entry       > *,
 *              flaps       > *,
 *              frontcover  > *,
 * list       > item        > *,
 *              note        > *,
 *              object      > *,
 *              quote       > *,
 *              section     > *,
 *              td          > *,
 *              th          > *
 */
                              address,
                              caption,
                              citation,
                              code,
                              description,
                              quote,
                              table,
                              verse,
/*
 *               annotation   > *,
 *               aside        > *,
 * toc           aside        > *,
 *               bibliography > *,
 *               backcover    > *,
 *               block        > *,
 * toc entry   > block        > *
 *               caption      > *,
 *               code         > *,
 *               description  > *,
 * bibliography  entry        > *,
 * glossary      entry        > *,
 *               flaps        > *,
 *               frontcover   > *,
 *               glossary     > *,
 *               index        > *,
 * list        > item         > *,
 *               note         > *,
 *               object       > *,
 *               quote        > *,
 *               section      > *,
 * bibliography  section      > *,
 * glossary      section      > *,
 * index         section      > *,
 * toc           section      > *,
 *               td           > *,
 *               th           > *,
 *               toc          > *,
 *               spine        > *
 */
                                block,
                                object,
                                p,
/*
 *               annotation   > *,
 *               aside        > *,
 * toc           aside        > *,
 *               bibliography > *,
 *               backcover    > *,
 *               block        > *,
 * toc entry   > block        > *
 *               caption      > *,
 *               code         > *,
 *               description  > *,
 * bibliography  entry        > *,
 * glossary      entry        > *,
 *               flaps        > *,
 *               frontcover   > *,
 *               glossary     > *,
 *               index        > *,
 * list        > item         > *,
 *               note         > *,
 *               object       > *,
 *               quote        > *,
 *               section      > *,
 * bibliography  section      > *,
 * glossary      section      > *,
 * index         section      > *,
 * toc           section      > *,
 * verse         section      > *
 *               td           > *,
 *               th           > *,
 *               toc          > *,
 *               spine        > *
 *               verse        > *,
 */
                                hd,
                                transition,
/*
 *              annotation  > *,
 *              aside       > *,
 * toc          aside       > *,
 *              backcover   > *,
 *              block       > *,
 * toc entry >  block       > *,
 *              caption     > *,
 *              code        > *,
 *              description > *,
 * bibliography entry       > *,
 * glossary     entry       > *,
 *              flaps       > *,
 *              frontcover  > *,
 * list       > item        > *,
 *              note        > *,
 *              object      > *,
 *              quote       > *,
 *              section     > *,
 *              td          > *,
 *              th          > *
 */
                              list,
/*
 *              annotation   > *,
 *              aside        > *,
 * toc          aside        > *,
 *              bibliography > *,
 * toc entry  > block        > *
 *              backcover    > *,
 *              block        > *,
 *              caption      > *,
 *              description  > *,
 * bibliography entry        > *,
 * glossary     entry        > *,
 *              flaps        > *,
 *              frontcover   > *,
 *              glossary     > *,
 *              index        > *,
 * list       > item         > *,
 *              note         > *,
 *              object       > *,
 *              quote        > *,
 *              section      > *,
 * bibliography section      > *
 * glossary     section      > *
 * index        section      > *
 *              td           > *,
 *              th           > *
 */
                               aside,
/*
 *              annotation  > *,
 *              aside       > *,
 * toc          aside       > *,
 *              backcover   > *,
 *              block       > *,
 *              caption     > *,
 *              description > *,
 * bibliography entry       > *,
 * glossary     entry       > *,
 *              flaps       > *,
 *              frontcover  > *,
 * list       > item        > *,
 *              lngroup     > *,
 *              note        > *,
 *              object      > *,
 *              quote       > *,
 *              section     > *,
 * verse        section     > *
 *              td          > *,
 *              th          > *
 *              verse       > *,
 */
                              annotation,
                              note,
/*
 * verse         > *,
 * verse section > *
 */
   verse           section,
/*
 *       address > *,
 * verse section > *
 *       quote   > *,
 *       verse   > *,
 */
                   lngroup,
/*
 *       address > *,
 *       code    > *,
 *       quote   > *,
 *       lngroup > *,
 * verse section > *
 *       td      > *,
 *       verse   > *,
 */
                   ln,
/*
 * code > *
 */
   code > lngroup,
/*
 * code           > *,
 * code > lngroup > *
 */
   code             ln,
/*
 * h > *
 */
       hpart,
/*
 * list > *
 */
   list > item,
/*
 * table > *
 */
           tbody,
           tfoot,
           thead,
/*
 * table > *,
 * tbody > *,
 * tfoot > *
 * thead > *,
 */
           tr,
/*
 * tr > *
 */
        th,
        td
{
  display: block;
}

/*
 * document > *
 */
              head
{
  display: none;
}

/* ---------------------------------------------------------------------------- */

/* xml:space */
[xml|space=preserve] {
  white-space: pre-wrap;
}
