---
---

table {
	border-collapse: collapse;
}

tr:nth-child(2n) {
	background-color: rgb(246, 248, 250);
}

td {
	padding: 14px 0 0 14px;
	border: 1px solid rgb(198, 203, 209);
	
	// column that contains images
	&:nth-child(2) {
		width: 40%;
		padding: 0 0 0 0;
	}
	
	p:first-child {
		margin-top: 0;
	}
	
	img {
		display: block;
		margin: 0 auto;
		max-width: 90%;
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

img {
	max-width: 100%;
}
