@page {
	margin-top: 1;
	counter-increment: continuation;
	@top-left {
		content: "⠸" string(print-page, start) counter(continuation, abc);
	}
	@top-right {
		content: counter(page);
	}
}

@page bodymatter:right {
	margin-bottom: 0;
	@bottom-left {
		content: none;
	}
	@bottom-center {
		content: none;
	}
	@bottom-right {
		content: none;
	}
}

/*
@counter-style abc {
	system: numeric;
	symbols: '' '⠠⠁' '⠠⠃' '⠠⠉' '⠠⠙' '⠠⠑' ...;
}
*/

dtbook {
	hyphens: none;
}

h1 {
	padding-top: 0;
	margin-top: 1;
	margin-bottom: 2;
	-obfl-underline: none;
}

h2 {
	text-align: center;
	margin-top: 1;
	margin-bottom: 1;
	-obfl-underline: none;
}

level2 {
	margin-top: 0;
}

pagenum {
	display: block;
	string-set: print-page content();
	counter-set: continuation 0;
}

pagenum::before {
	content: leader('⠤') '⠸';
}

/* add the following when :first-of-page is supported: *//*
pagenum:first-of-page {
	display: none;
}
*/

/* alternative: */
pagenum:has(+level2, +h1) {
	display: none;
}