Source: sbs-braille-tables
Section: misc
Priority: optional
Maintainer: Christian Egli <christian.egli@sbs.ch>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, liblouis-bin
Standards-Version: 3.9.4

Package: sbs-braille-tables
Architecture: all
Depends: ${misc:Depends}
Description: Auxiliary liblouis tables to generate good German Braille at SBS.

