@(custom: String)

@main("About", "about") {

<script type="text/javascript">
// variables available for use by custom about page
if (typeof DP2 === "undefined") DP2 = {};
DP2.application = {
	'title': '@models.Setting.get("appearance.title")',
	'Web UI version': '@Application.version',
	'Engine version': '@if(Application.getAlive()!=null){@Application.getAlive().version}'
};
</script>

@if(custom!=null){

@Html(custom)

}else{

<div class="page-header">
	<hgroup>
    	<h1>About @models.Setting.get("appearance.title")</h1>
    </hgroup>
</div>

<p>For more information on the Pipeline development, please see the <a href="http://www.daisy.org/pipeline">Pipeline project page</a>.</p>

<div class="well">
	<em>Pipeline Web UI version: @Application.version</em><br/>
	@if(Application.getAlive()!=null){
		<em>Pipeline Engine version: @Application.getAlive().version</em>
	}
</div>

}

}
