@(status: Integer, name: String, description: String, message: String)

@main("Error:"+status) {

<div class="page-header">
	<hgroup>
    	<h1>@status : @name</h1>
    </hgroup>
</div>

@if(description != null && description.length > 0 || message != null && message.length > 0){
<div role="alert" class="alert alert-error">
	<p>@description</p>
	@if(message != null && message.length > 0){
		<p>
			<a id="errorMessage-show" href="#" onclick="$('#errorMessage-show').hide('slow');$('#errorMessage').show('slow');return 0;">Show details</a>
			<pre id="errorMessage" style="display:none;text-align:left;">
@message.replace("<","&lt;").replace(">","&gt;").replace("&","&amp;")
			</pre>
		</p>
	}
</div>
<hr/>
}

}