/* ---------------------------------------------------------------------------- */
/*  http://www.daisy.org/pipeline/modules/braille/html-to-pef/css/default.css  */
/* ---------------------------------------------------------------------------- */

/*
 * This style sheet simply puts "display:block" on all elements that are defined as
 * block-level in the default CSS2 style sheet for HTML 4. The rules defined here
 * can be reset with http://www.daisy.org/pipeline/modules/braille/html-to-pef/css/reset.css
 *
 * See also
 * - http://www.w3.org/TR/CSS2/sample.html
 * - http://www.w3.org/TR/html5/rendering.html
 */

@namespace xml "http://www.w3.org/XML/1998/namespace";

html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre,
li,
table,
tr,
thead,
tbody,
tfoot,
/* td, th, */
caption,
button, textarea,
input, select
{
  display: block
}

head
{
  display: none
}

br::before {
  content: "\A";
  white-space: pre-line;
}

/* xml:space */
[xml|space=preserve] {
  white-space: pre-wrap;
}
