*~
/.version
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/sbs-braille-tables-*.tar.gz
Makefile
Makefile.in
/debian/sbs-braille-tables.debhelper.log
/debian/files
/debian/sbs-braille-tables.substvars
/debian/sbs-braille-tables/
/target/
/compile
/test-driver
/tests/*.log
/tests/*.trs
