<?xml version="1.0"?>
<component xmlns="http://www.osgi.org/xmlns/scr/v1.3.0" name="org.daisy.pipeline.modules.impl.Module_test_module" activate="activate">
  <implementation class="org.daisy.pipeline.modules.impl.Module_test_module"/>
  <service>
    <provide interface="org.daisy.pipeline.modules.Module"/>
  </service>
  <reference name="XmlCatalogParser" cardinality="1..1" policy="static" interface="org.daisy.pipeline.xmlcatalog.XmlCatalogParser" bind="setParser"/>
</component>
