<!DOCTYPE html>
<html lang="en" prefix="dc: http://purl.org/dc/elements/1.1/
              dp2: http://www.daisy.org/ns/pipeline/">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en">
    <title>default.ott</title>
    <link rel="stylesheet" href="/pipeline/css/coderay.css">
    <link rel="shortcut icon" href="http://www.daisy.org/sites/default/files/favicon_0.ico">

  </head>
  <body>
    <link rev="doc" href="../default.ott/">

<ul>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates">../</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/Configurations2">Configurations2/</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/META-INF">META-INF/</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/Thumbnails">Thumbnails/</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/content.xml">content.xml</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/manifest.rdf">manifest.rdf</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/meta.xml">meta.xml</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/mimetype">mimetype</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/settings.xml">settings.xml</a></li>
  <li><a href="/pipeline/modules/dtbook-to-odt/src/main/resources/templates/default.ott/styles.xml">styles.xml</a></li>
</ul>

  </body>
</html>
