Package: daisy-pipeline2
Version: [[project.detailedVersion]]
Section: text
Priority: optional
Architecture: all
Depends: debconf, lsb-base (>= 3.0-6), adduser (>= 3.9), java8-runtime
Maintainer: Romain Deltour <romain.deltour@gmail.com>
Description: DAISY Pipeline 2
 .
 The DAISY Pipeline 2 is an open source framework for the automated processing of various
 digital formats efficiently and economically. It intends to facilitate the production and
 maintenance of accessible content for people with print disabilities.
Homepage: http://www.daisy.org/pipeline2
