<!DOCTYPE html>
<html lang="en"
      prefix="dc: http://purl.org/dc/elements/1.1/
              dp2: http://www.daisy.org/ns/pipeline/">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en">
    <title>{{ page.title }}</title>
    {% include meta-title title=page.title %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/default.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/coderay.css">
    {% include favicon %}
  </head>
  <body>
    <div id="body">
      {% include nav spine="sitemap" %}
      {{ content }}
    </div>
  </body>
</html>
