:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  --fw-font-family: monospace;
  --font-size: 1rem;
  --pad: 1rem;
  --border-radius: 4px;
  --tab-panel-height: 90vh;
  --primary-color-1: black;
  --primary-color-2: #555;
  --primary-color-3: lightgray;
  --secondary-color-2: #173d63;
  --secondary-color-3: #f2f7fc;
  --secondary-2-contrast: white;
  --background-color: white;
  --error-message-color: red;
  --warning-message-color: brown;
  --info-message-color: var(--primary-color-1);
  --debug-message-color: green;
  --trace-message-color: green;
  --success-color: rgba(0, 255, 0, 0.3);
  --failure-color: rgba(255, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color-1: white;
    --primary-color-2: lightgray;
    --primary-color-3: #444;
    --secondary-color-2: #173d63;
    --secondary-color-3: #173d63;
    --background-color: #151515;
  }
}
.tab {
  padding: var(--pad);
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: thin solid;
  border-bottom: none;
  font-weight: normal;
  font-size: larger;
  color: var(--primary-color-2);
  display: flex;
  gap: calc(var(--pad) / 2);
  font-size: large;
}
.tab button {
  padding: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}
.tab button.close-tab:hover {
  background-color: var(--primary-color-3);
  color: var(--primary-color-1);
}
.tab:has([aria-selected=false]):hover {
  background-color: var(--secondary-color-2);
  color: var(--secondary-2-contrast);
}
.tab:has([aria-selected=true]) {
  background-color: var(--secondary-color-2);
  color: var(--secondary-2-contrast);
  border-bottom-color: var(--background-color);
  border-bottom-width: 1px;
  margin-bottom: -1px;
}

[role=tablist] {
  display: flex;
  flex-direction: row;
}

[role=tabpanel] {
  padding: calc(var(--pad) / 2);
  border: thin solid;
  border-top-left-radius: 0;
  height: var(--tab-panel-height);
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.settings-form input[type=button] {
  display: inline-block;
  width: min-content;
  white-space: nowrap;
  padding: 0.25em;
  border: thin black solid;
}
.settings-form div {
  display: flex;
  gap: 1em;
}
.settings-form .settings-field {
  display: flex;
  flex-direction: column;
}
.settings-form .description {
  display: block;
}
.settings-form .save-button {
  align-self: flex-end;
}

body {
  margin: calc(0.25 * var(--pad));
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-color: var(--primary-color-2);
  background-color: var(--background-color);
  color: var(--primary-color-1);
}

h2, h3 {
  font-weight: normal;
}

button {
  background-color: var(--background-color);
  border: thin solid var(--primary-color-2);
  padding: calc(var(--pad) / 2);
  border-radius: var(--border-radius);
  width: min-content;
  white-space: nowrap;
  height: min-content;
  color: var(--primary-color-1);
}

[role=tabpanel] button:hover {
  background-color: var(--secondary-color-2);
  color: var(--secondary-2-contrast);
}

[role=tabpanel] .fixed-height-layout {
  display: flex;
  flex-direction: column;
  gap: var(--pad);
  max-height: var(--tab-panel-height);
}
[role=tabpanel] .header {
  line-height: 0.8;
  display: grid;
  grid-template-columns: 60% auto;
  padding-bottom: var(--pad);
  border-bottom: thin solid var(--primary-color-2);
  font-size: large;
}
[role=tabpanel] .header h1 span {
  font-size: small;
  display: block;
}
[role=tabpanel] .header button {
  font-size: larger;
  font-weight: normal;
  align-self: center;
}
[role=tabpanel] .flexgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(20rem, 100%, 30rem));
  gap: calc(4 * var(--pad));
  overflow-y: scroll;
}
[role=tabpanel] .flexgrid > * {
  overflow-y: scroll;
}
[role=tabpanel] .flexgrid section h2 {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  color: var(--primary-color-1);
}
[role=tabpanel] .flexgrid section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--pad) / 2);
}

.status {
  font-size: large;
  font-weight: bold;
  width: min-content;
  white-space: nowrap;
}
.status.success {
  border-bottom: 4px var(--success-color) solid;
}
.status.error {
  border-bottom: 4px var(--failure-color) solid;
}

.job-messages ul {
  font-family: var(--fw-font-family);
}
.job-messages ul .error {
  color: var(--error-message-color);
}
.job-messages ul .info {
  color: var(--info-message-color);
}
.job-messages ul .warning {
  color: var(--warning-message-color);
}
.job-messages ul .debug {
  color: var(--debug-message-color);
}
.job-messages ul .trace {
  color: var(--trace-message-color);
}

.job-settings li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: thin solid var(--primary-color-3);
}
.job-settings li span:first-of-type {
  max-width: 50%;
}
.job-settings li:nth-of-type(even) {
  background-color: var(--secondary-color-3);
}

.job-results {
  width: min-content;
  white-space: nowrap;
}

.select-script {
  display: flex;
  flex-direction: row;
  gap: calc(var(--pad) * 2);
  font-size: x-large;
  border-bottom: thin solid var(--primary-color-2);
  padding-top: calc(var(--pad));
  padding-bottom: calc(var(--pad));
  padding-left: 2px;
}
.select-script select {
  font-size: large;
  border: thin solid;
  border-radius: 4px;
}

input {
  display: block;
}

input[type=checkbox] {
  width: calc(1.5 * var(--font-size));
  height: calc(1.5 * var(--font-size));
}

ul.fields {
  padding: revert;
  display: flex;
  flex-direction: column;
  gap: var(--pad);
}
ul.fields li {
  padding-bottom: var(--gap);
  border-bottom: thin white solid;
  display: flex;
  flex-wrap: wrap;
  gap: var(--pad);
  align-items: center;
}
ul.fields li > * {
  flex-basis: 20rem;
}
ul.fields li > input[type=checkbox] {
  flex-basis: 2rem;
  accent-color: var(--secondary-color-2);
}

.file-input {
  padding-left: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color-3);
}
.file-input button {
  border-radius: 4px;
}
.file-input span {
  overflow: scroll;
}

.description {
  font-style: italic;
  font-size: smaller;
}

.value {
  font-family: var(--fw-font-family);
}

.script-field {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pad) / 2);
}

.file-or-folder {
  display: flex;
  gap: calc(var(--pad) / 2);
}

.filelink {
  color: var(--primary-color-1);
}

/*# sourceMappingURL=style.css.map */
