.sidebar {
	-fx-padding: 10;
	-fx-spacing: 8;
}


.title {
	-fx-font-family: Arial;
	-fx-font-weight: bold;
	-fx-font-size: 25;
}

.subtitle {
	-fx-font-family: Arial;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}

.details {
	-fx-padding: 10 0 20 10;
	-fx-hgap: 20;
	-fx-vgap: 20;
}
.blank {
	-fx-padding: 20;
	-fx-hgap: 20;
	-fx-vgap: 20;
	
}
.new-job {
	-fx-padding: 10;
	-fx-hgap: 20;
	-fx-vgap: 20;
}

.messages {
	-fx-pref-height: 200;
	-fx-padding: 20 10 20 10; /* Top Right Bottom Left */
}	


.help {
	-fx-font-size: smaller;
	-fx-font-style: italic;
	-fx-font-family: Arial;
}

.input-list {
	-fx-pref-height: 100px;
}

.grid {
	-fx-vgap: 10;
	-fx-hgap: 10;
}

.results {
	-fx-padding: 20 0 0 0;
}

.label-helper-vbox {
	-fx-spacing: 10;
}
.choose-script {
	-fx-padding: 0 20 0 0;
}

.script-info {
	-fx-padding: 20 0 20 0;
}
.center-scroll {
	-fx-background-color:transparent;
}
/*
 * classes below are built-in javafx style classes
 */
.hyperlink {
	-fx-padding: 0;	/* clear the default inset for links */
}
.vbox {
    -fx-border-width: 0px;
    -fx-padding: 0 0 0 10;
}

.emph{
        -fx-font-style: normal;
}
/*
 * Markdown support classes
 */

.strong{
        -fx-font-weight: bold;
}

.h1{
        -fx-font-weight: bold;
        -fx-font-style: normal;
        -fx-font-size:18 ;
}
.h2{
        -fx-font-weight: bold;
        -fx-font-style: italic;
        -fx-font-size:15 ;
}
.h3{
        -fx-font-style: italic;
        -fx-font-size:13 ;
}
.h4{
        -fx-font-style: italic;
        -fx-font-size:13 ;
}

.h5{
        -fx-font-style: italic;
        -fx-font-size:13 ;
}
.h6{
        -fx-font-style: italic;
        -fx-font-size:13 ;
}

.code {
        -fx-font-family: monospace;
}
