@page {
	margin-bottom: 1;
	@bottom-left {
		content: string(print-page-slash, start-except-last) string(print-page, last);
		text-transform: print-page;
	}
	@bottom-center {
		content: string(running-footer-body);
	}
	@bottom-right {
		content: counter(page);
	}
}

dtbook {
	hyphens: none;
}

h1 {
	padding-top: 3;
	-obfl-underline: none;
}
