/*
 * Generated table of contents
 */

$toc-depth: 0 !default;

$toc-exclude-class: '' !default;

@if $toc-depth > 0 {
	/*
	 * Generate the TOC:
	 */
	@xslt "generate-toc.xsl" {
		depth: $toc-depth;
		exclude-class: $toc-exclude-class;
		document-toc-id: "generated-document-toc";
		volume-toc-id: "generated-volume-toc";
	}
	/*
	 * ... and style it:
	 */
	#generated-document-toc {
		flow: document-toc;
		display: -obfl-toc;
		-obfl-toc-range: document;
	}
	#generated-volume-toc {
		flow: volume-toc;
		display: -obfl-toc;
		-obfl-toc-range: volume;
	}
}