/*
 * Page layout: dimensions, numbering, headers and footers.
 */

$levels-in-footer: 0 !default;
$show-braille-page-numbers: true !default;
$show-print-page-numbers: true !default;

@namespace epub url(http://www.idpf.org/2007/ops);

@if $show-print-page-numbers {
	.page-front,
	.page-normal,
	.page-special,
	[epub|type='pagebreak'] {
		string-set: print-page attr(title);
	}
}

@for $level from 1 through 6 {
	@if $levels-in-footer >= $level {
		h#{$level} {
			string-set: footer content();
		}
	}
}
