/**
 * CSS module with default volume breaking rules.
 *
 * In order for this style sheet to work,
 * http://www.daisy.org/pipeline/modules/braille/html-to-pef/xsl/volume-breaking.xsl
 * must be included before it in the list of style sheets.
 */

/*
 * Don't split "leaf sections" across volumes.
 *
 * A leaf section is a block of adjacent content with the same sectioning depth.
 * Which means:
 * - either; a section element with no child sections
 * - or; the content in a section (<h1>, <p>, etc.), which may have section element siblings
 *
 * If a section contains other sections, then volume-breaking.xsl wraps the normal content
 * (<h1>, <p>, etc.) in the section in a <div class="leaf-section"> element.
 */
section:not(:has(> section, > div.leaf-section)),
div.leaf-section {
    volume-break-inside: -obfl-keep(5);
}

/*
 * Avoid orphaned headlines.
 *
 * volume-breaking.xsl adds the "keep-with-next-section" class is added on small leaf
 * sections.
 */
.keep-with-next-section {
    -obfl-keep-with-next-sheets: 1;
}
