@()

@main("Welcome!") {
	
	<div class="horizontally-centered">
		
		<div class="page-header">
			<hgroup>
		    	<h1>Welcome!</h1>
	    	</hgroup>
		</div>
		
		<p>The DAISY Pipeline is a collaborative project maintained by the DAISY Consortium, with numerous organizations participating and contributing to the development. If you want to know more about the Pipeline 2, visit our <a href="http://www.daisy.org/pipeline2" target="_blank">homepage</a>. If you have any questions, feel free to ask them in <a href="http://www.daisy.org/forums/pipeline-2" target="_blank">our forum</a>.</p>
		<br/>
		
		<div class="hero-unit" style="text-align:center;font-size:1.5em;">
			<!--<a class="btn btn-xlarge" href="#">Take the tutorial</a>
			&nbsp;&nbsp; or &nbsp;&nbsp; TODO:implement tutorial -->
			<a class="btn btn-xlarge btn-primary" href="@routes.Jobs.newJob()">Get started</a>
		</div>
		
	</div>
	
}
