h {
	display: block;
	text-align: center;
	margin-top: 1;
	margin-bottom: 1;
	margin-left: 3;
	margin-right: 3;
}

p {
	display: block;
	text-indent: 2;
}

head {
	display: none;
}

section,
frontmatter,
bodymatter,
block,
lngroup,
ln,
object,
verse {
	display: block;
}