
{{! does not work within html }}

{{#inputs}}

### Inputs

<ul class="synopsis-inputs">
{{#all}}
<li class="synopsis-input details-on">
<div class="toggle-details"/>
<div class="synopsis-input-name">{{name}}</div>
<div class="synopsis-input-desc">
{{#desc.long}}
<div class="shortdesc">{{desc.short}}</div>
<div class="longdesc">{{{.}}}</div>
{{/desc.long}}
{{^desc.long}}
{{desc.short}}
{{/desc.long}}
</div>
{{#media-type.length}}
<div class="synopsis-input-media-type">
<b>Media-type</b>:
<ul class="media-types">
{{#media-type}}
<li>{{{.}}}</li>
{{/media-type}}
</ul>
</div>
{{/media-type.length}}
<div class="synopsis-input-sequence"><b>Sequence</b>: {{#sequence}}yes{{/sequence}}{{^sequence}}no{{/sequence}}</div>
</li>
{{/all}}
</ul>

{{/inputs}}

{{#reports}}

### Reports

<ul class="synopsis-reports">
{{#all}}
<li class="synopsis-report details-on">
<div class="toggle-details"/>
<div class="synopsis-report-name">{{name}}</div>
<div class="synopsis-report-desc">
{{#desc.long}}
<div class="shortdesc">{{desc.short}}</div>
<div class="longdesc">{{{.}}}</div>
{{/desc.long}}
{{^desc.long}}
{{desc.short}}
{{/desc.long}}
</div>
</li>
{{/all}}
</ul>

{{/reports}}

{{#outputs}}

### Outputs

<ul class="synopsis-outputs">
{{#all}}
<li class="synopsis-output details-on">
<div class="toggle-details"/>
<div class="synopsis-output-name">{{name}}</div>
<div class="synopsis-output-desc">
{{#desc.long}}
<div class="shortdesc">{{desc.short}}</div>
<div class="longdesc">{{{.}}}</div>
{{/desc.long}}
{{^desc.long}}
{{desc.short}}
{{/desc.long}}
</div>
{{#media-type.length}}
<div class="synopsis-output-media-type">
<b>Media-type</b>:
<ul class="media-types">
{{#media-type}}
<li>{{{.}}}</li>
{{/media-type}}
</ul>
</div>
{{/media-type.length}}
</li>
{{/all}}
</ul>

{{/outputs}}

{{#options}}

### Options

<ul class="synopsis-options">
{{#all}}
<li class="synopsis-option details-on">
<div class="toggle-details"/>
<div class="synopsis-option-name">{{name}}</div>
<div class="synopsis-option-desc">
{{#desc.long}}
<div class="shortdesc">{{desc.short}}</div>
<div class="longdesc">{{{.}}}</div>
{{/desc.long}}
{{^desc.long}}
{{desc.short}}
{{/desc.long}}
</div>
<div class="synopsis-option-data-type"><b>Possible values</b>: {{{data-type}}}</div>
{{#default}}
<div class="synopsis-option-default"><b>Default value</b>: {{{.}}}</div>
{{/default}}
{{^default}}
<div class="synopsis-option-required"><b>Required</b>: {{#required}}yes{{/required}}{{^required}}no{{/required}}</div>
{{/default}}
</li>
{{/all}}
</ul>

{{/options}}

<script type="text/javascript">
var allElements = [];
function showDetailsAndHideAllOther() {
  var windowTopBefore = window.pageYOffset;
  var topBefore = this.offsetTop;
  var i;
  for (i = 0; i < allElements.length; i++) {
    allElements[i].classList.remove('details-on');
	allElements[i].classList.add('details-off');
  }
  this.classList.remove('details-off');
  this.classList.add('details-on');
  window.scrollTo(0, windowTopBefore + this.offsetTop - topBefore);
}
var onload = function() {
  allElements = allElements.concat(Array.prototype.slice.call(document.getElementsByClassName('synopsis-input'), 0));
  allElements = allElements.concat(Array.prototype.slice.call(document.getElementsByClassName('synopsis-report'), 0));
  allElements = allElements.concat(Array.prototype.slice.call(document.getElementsByClassName('synopsis-output'), 0));
  allElements = allElements.concat(Array.prototype.slice.call(document.getElementsByClassName('synopsis-option'), 0));
  var i;
  for (i = 0; i < allElements.length; i++) {
    allElements[i].classList.remove('details-on');
    allElements[i].classList.add('details-off');
	allElements[i].addEventListener('click', showDetailsAndHideAllOther);
  }
}
if (window.addEventListener) {
  window.addEventListener('load', onload);
} else {
  window.attachEvent('onload', onload);
}
</script>
