@page bodymatter:right {
	@bottom-center {
		content: none;
	}
}

dtbook {
	hyphens: none;
}

frontmatter > level1:nth-of-type(2) {
	string-set: running-footer-front "Widmung";
}

h2 {
	margin-top: 1;
	-obfl-underline: none;
}

.center {
	text-align: center;
	padding-top: 5;
}
