<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
   
  <appender name="TEST_LOG" class="ch.qos.logback.core.FileAppender">
    <file>target/test.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--
      Note that this appender is only started within the OSGi container. Within the test runner the
      appender will fail to start.
  -->
  <appender name="EVENTBUS" class="org.daisy.pipeline.logging.EventBusAppender">
    <filter class="org.daisy.pipeline.logging.ThresholdFilter">
      <rootLevel>INFO</rootLevel>
      <loggerLevels>
        com.xmlcalabash=OFF
        org.daisy.pipeline.job=OFF
        org.daisy.common.xproc=OFF
      </loggerLevels>
    </filter>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="TEST_LOG"/>
    <appender-ref ref="EVENTBUS"/>
  </root>

</configuration>
