*.zip diff=zip
*.epub diff=zip
*.docx diff=zip
*.docm diff=zip
*.dotx diff=zip
*.dotm diff=zip
*.xslx diff=zip
*.xlsm diff=zip
*.xltx diff=zip
*.xltm diff=zip
*.pptx diff=zip
*.pptm diff=zip
*.potx diff=zip
*.potm diff=zip
*.ppam diff=zip
*.ppsx diff=zip
*.ppsm diff=zip
*.sldx diff=zip
*.sldm diff=zip
*.odt diff=zip
*.ott diff=zip
*.odm diff=zip
*.ods diff=zip
*.ots diff=zip
*.odg diff=zip
*.otg diff=zip
*.odp diff=zip
*.otp diff=zip
*.odf diff=zip
*.odb diff=zip