@(resetPasswordForm: Form[User.UserSetPassword], email: String, resetUid: String, activeUser: Boolean)

@main(if (activeUser) "Reset password" else "Set password", "account") {
     	
    <div class="page-header">
    	<hgroup>
	     	@if(activeUser){
	     		<h1>Create a new password</h1>
	     	}else{
	     		<h1>Set your password</h1>
	     	}
     	</hgroup>
    </div>
    
    @if(activeUser){ 	
		<p>To set a new password, fill out the two fields below.</p>
	}else{
		<p>To set your password, fill out the two fields below.</p>
	}
  	<hr/>
     	
     @helper.form(action = routes.Account.resetPassword(email, resetUid)) {
         
        @if(resetPasswordForm.hasGlobalErrors) {
			<div role="alert" class="alert alert-error">
             	<a class="close" data-dismiss="alert">&times;</a>
            	@resetPasswordForm.globalError.message
        	</div>
        }
         
		<fieldset>
	           
	           <div class="form-horizontal">
	           	
				<div class="control-group @("error".when(resetPasswordForm.error("password") != null))">
	           		<label for="password" class="control-label">Password</label>
					<div class="controls">
						<input type="password" name="password" id="password" placeholder="A password must be at least 6 characters." class="input-xlarge"/>
						@if(resetPasswordForm.field("password").value() != null && resetPasswordForm.field("password").valueOr("").length() < 6){
							<span class="help-inline">The password must contain at least 6 characters.</span>
						}
					</div>
				</div>
				
				<div class="control-group @("error".when(resetPasswordForm.error("repeatPassword") != null))">
	           		<label for="repeatPassword" class="control-label">Repeat password</label>
					<div class="controls">
						<input type="password" name="repeatPassword" id="repeatPassword" placeholder="Please repeat your password." class="input-xlarge"/>
						@if(resetPasswordForm.field("repeatPassword").errors().size() > 0){
							<span class="help-inline">@resetPasswordForm.error("repeatPassword").message</span>
						}
					</div>
				</div>
				
				<div class="form-actions">
					<button class="btn btn-primary" id="submit" type="submit" name="submit">Use this as my new password</button>
				</div>
				
			</div>
		</fieldset>
     }

}