/*
 * Parameters injected by epub3-to-pef.convert
 */

$page-width: 40 !default;
$page-height: 25 !default;
$maximum-number-of-sheets: 70 !default;
$levels-in-footer: 6 !default;
$hyphenation: true !default;
$line-spacing: single !default;
$capital-letters: true !default;
$include-captions: true !default;
$include-images: true !default;
$include-line-groups: true !default;
$include-production-notes: false !default;
$show-braille-page-numbers: true !default;
$show-print-page-numbers: true !default;
$force-braille-page-break: false !default;

@namespace epub url(http://www.idpf.org/2007/ops);

@page {
	size: $page-width $page-height;
}

@volume {
	max-length: $maximum-number-of-sheets;
}

#generated-document-toc {
	flow: document-toc;
	display: -obfl-toc;
	-obfl-toc-range: document;
}

#generated-volume-toc {
	flow: volume-toc;
	display: -obfl-toc;
	-obfl-toc-range: volume;
}

@for $level from 1 through 6 {
	@if $levels-in-footer >= $level {
		h#{$level} {
			string-set: footer content();
		}
	}
}

@if $hyphenation {
	:root {
		hyphens: auto;
	}
}

@if $line-spacing == double {
	:root {
		line-height: 2;
	}
}

@if $capital-letters != true {
	:root {
		text-transform: lowercase;
	}
}

caption {
	display: if($include-captions, block, none);
}

@if $include-images {
	img::after {
		content: attr(alt);
	}
}

.linegroup .line {
	display: if($include-line-groups, block, inline);
}

.prodnote,
[epub|type~='z3998:production'] {
	display: if($include-production-notes, block, none);
}

.page-front,
.page-normal,
.page-special,
[epub|type='pagebreak'] {
	@if $show-print-page-numbers {
		string-set: print-page attr(title);
	}
	@if $force-braille-page-break {
		page-break-before: always;
	}
}
