@(form: Form[controllers.Login.LoginForm])

@main("Sign in", "login") {
	
	<hgroup>
		<h1>Sign in</h1>
	</hgroup>
	
	@helper.form(action = routes.Login.authenticate()) {
		
		@if(!flash.contains("error") && !flash.contains("success") && form.hasGlobalErrors) {
			<div role="alert" class="alert alert-error">
				<a class="close" data-dismiss="alert">&times;</a>
				@form.globalError.message
			</div>
		}
		
		<div class="form-horizontal">
			<fieldset>
				<div class="control-group">
					<label for="email" class="control-label">E-mail</label>
					<div class="controls">
						<input type="email" name="email" id="email" placeholder="e-mail" class="input-xlarge" value="@form("email").value"/>
					</div>
				</div>
				
				<div class="control-group">	
					<label for="password" class="control-label">Password</label>
					<div class="controls">
						<input type="password" name="password" id="password" placeholder="Password" class="input-xlarge"/>
						@if(Setting.get("mail.enable")=="true"){
							<span class="help-block">Forgot your password?
								<button type="button" class="btn" id="submitLostPassword" name="submitLostPassword" onclick="window.location='@routes.Login.resetPassword()?email='+$('#email').val();return false;">Get a new one!</button>
							</span>
						}
					</div>
				</div>
				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary btn-large" id="submit" name="submit">Login</button>
					@if(Setting.get("users.guest.allowGuests") == "true" && (models.User.parseUserId(session()) == null || models.User.parseUserId(session()) >= 0)){
						&nbsp;&nbsp;or&nbsp;&nbsp;
						<button type="button" class="btn btn-large" id="guest-login" name="guest-login" onclick="window.location='@routes.Login.authenticateGuest()';return false;">Try it out as a guest <i class="icon-hand-right"></i></button>
					}
					@if(models.User.parseUserId(session()) != null && models.User.parseUserId(session()) < 0){
						&nbsp;&nbsp;<span>You currently have guest privileges.</span>
					}
			 	</div>
				
			</fieldset>
		</div>
	}
}